* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-prin {
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 15px;
}

.contenedor1 {
    margin-top: -10px;
}

.contenedor2 {
    margin-top: 38px;
}

.btn-extintor {
    width: 150px;
    height: 40px;
    margin-left: 15px;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-extintor-t {
    width: 150px;
    height: 40px;
    margin-left: 15px;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}

.icono-btn {
    font-size: 12px;
    margin-right: 6px;
}


/* estilos dialogo agregar  */

.form-row label {
    margin-bottom: 5px;
    margin-top: 10px;
}

.titulo-h3 i {
    margin-right: 6px;
}


/* fin estilos dialogo agregar  */


/* estilos tabla */

.card {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-bottom: 10px;
}

.icono-table {
    width: 25px;
    height: 25px;
    margin-right: 16px;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    border-radius: 3px;
}

.identificador {
    width: 100px;
}

.td-iconos {
    align-items: left;
    justify-content: space-between;
}


/* fin estilos tabla */

@media screen and (max-width: 800px) and (min-width:180px) {
    .card {
        margin: 10px;
    }
    p-table {
        width: 100%;
        font-size: .9em;
    }
    p-table tr {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 1em;
        margin-bottom: 1em;
    }
    p-table td[data-titulo] {
        display: flex;
    }
    p-table td[data-titulo]::before {
        content: attr( data-titulo);
        width: 100px;
        color: silver;
        font-weight: bold;
    }
    p-table .header {
        display: none;
    }
}
