@media screen and (max-width: 340px) and (min-width:180px) {
    p-button {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.icono-btn{
  margin-right: 6px;
  font-size: 20px;
}

.titulo-h3{
  font-size: 20px;
  text-transform: uppercase;
}
