<div class="contenedor">
    <div>
        <h2 class="titulo-prin">
            Lista de empleados
        </h2>
    </div>
    <div class="contenedor-dos">
        <div class="col-md-12">
            <div class="btn">
                <button (click)="showPositionDialog(employee)" type="button" class="btn btn-primary btn-emple">
              <i class="pi pi-user-plus icono-btn"></i>Agregar empleado</button>
            </div>
            <app-agregar-dialog #agregarDialog (newEmployeeEvent)="addItem($event)"></app-agregar-dialog>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 ml-3 mb-2 abc">
            <input type="search" placeholder="Ingresar Nombre" id="buscador" name="buscador" class="form-control imput-buscar" [value]="buscarNombre" (input)="buscarNombre = $event.target.value">
        </div>
        <div class="col-md-1 div-boton">
            <button class="btn btn-primary boton-buscar" (click)="buscarEmpleado()">Buscar</button>
        </div>
    </div>

    <div class="card">
        <p-table [(value)]="empleado" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowHover]="true" currentPageReportTemplate="Item {first} al {last} de {totalRecords} Items" [rowsPerPageOptions]="[5,8,10,25,50]">

            <ng-template pTemplate="header">
                <tr class="header">
                    <th class="identificador"> # </th>
                    <th> Nombre </th>
                    <th> Apellido </th>
                    <th> Dirección </th>
                    <th> Teléfono </th>
                    <th> Email </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empleado>
                <tr>
                    <td data-titulo="#"> {{ empleado.id }} </td>
                    <td data-titulo="Nombre"> {{ empleado.nombre | titlecase }} </td>
                    <td data-titulo="Apellido"> {{ empleado.apellido | titlecase }} </td>
                    <td data-titulo="Dirección"> {{ empleado.direccion | titlecase }} </td>
                    <td data-titulo="Teléfono"> {{ empleado.telefono }} </td>
                    <td data-titulo="Email"> {{ empleado.email }} </td>
                    <td class="td-iconos">
                        <i (click)="showPositionDialog(empleado)" class="pi pi-pencil btn-outline-primary icono-table"></i>
                        <i (click)="confirmarElimEmpleado(empleado)" class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-toast [style]="{width: '80vw'}"></p-toast>

    <p-toast position="center" (onClose)="onReject()" key="h"  [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
          <div class="p-flex p-flex-column" style="flex: 1">
              <div class="p-text-center-botones">
                  <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                  <h4>{{message.summary}}</h4>
                  <p>{{message.detail}}</p>
              </div>
              <div class="row botonesConfirmacion ">
                  <div class="col-md-6">
                      <button type="button" pButton (click)="deleteEmployee(empleado)" label="Yes" class="p-button-success buttonSuccess"></button>
                  </div>
                  <div class="col-md-6">
                      <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary buttonSecondary"></button>
                  </div>
              </div>
          </div>
        </ng-template>
    </p-toast>
</div>
