<div class="contenedor">

    <div>
        <h2 class="titulo-prin">
            <span>Lista de empleados</span>
        </h2>
    </div>
    <div class="btn">
        <button type="button" class="btn btn-primary btn-stock">Agregar empleado</button>
    </div>
    <div class="table-service">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col"> Nombre </th>
                    <th scope="col"> Apellido </th>
                    <th scope="col"> Dirección </th>
                    <th scope="col"> Teléfono </th>
                    <th scope="col"> Email </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"> 1 </th>
                    <td> Fabian </td>
                    <td> Garcia </td>
                    <td> Clle 14 24 A </td>
                    <td> 830 4578 </td>
                    <td> fabian@gmail.com </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row"> 2 </th>
                    <td> Jose </td>
                    <td> Garcia </td>
                    <td> Clle 14 24 A </td>
                    <td> 830 4578 </td>
                    <td> fabian@gmail.com </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
