<div class="contenedor">
    <div>
        <h2 class="titulo-prin">
            Lista de empleados
        </h2>
    </div>
    <div class="contenedor">
        <div class="col-md-12">
            <div class="btn">
                <button (click)="showPositionDialog(employee)" type="button" class="btn btn-primary btn-emple">
                <i class="pi pi-user-plus icono-btn"></i>Agregar empleado</button>
            </div>
            <app-agregar-dialog #agregarDialog (newEmployeeEvent)="addItem($event)"></app-agregar-dialog>
        </div>
    </div>
    <div class="contenedor2">
        <div class="col-md-12 formulario">
            <form class="form-inline div-form">
                <input class="form-control mr-sm-2 form" type="search" placeholder="Buscar..." aria-label="buscar...">
                <small class="boton">
          <i class="pi pi-search icono-buscar "></i>
        </small>
            </form>
        </div>
    </div>
    <div class="card">
        <p-table [(value)]="empleado" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Item {first} al {last} de {totalRecords} Items" [rowsPerPageOptions]="[5,8,10,25,50]">
            <ng-template pTemplate="header">
                <tr class="header">
                    <th class="identificador"> # </th>
                    <th> Nombre </th>
                    <th> Apellido </th>
                    <th> Dirección </th>
                    <th> Teléfono </th>
                    <th> Email </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empleado>
                <tr>
                    <td data-titulo="#"> {{ empleado.id }} </td>
                    <td data-titulo="Nombre"> {{ empleado.nombre }} </td>
                    <td data-titulo="Apellido"> {{ empleado.apellido }} </td>
                    <td data-titulo="Dirección"> {{ empleado.direccion }} </td>
                    <td data-titulo="Teléfono"> {{ empleado.telefono }} </td>
                    <td data-titulo="Email"> {{ empleado.email }} </td>
                    <td class="td-iconos">
                        <i (click)="showPositionDialog(empleado)" class="pi pi-pencil btn-outline-primary icono-table"></i>
                        <i (click)="deleteEmployee(empleado)" class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-toast></p-toast>
</div>
