<div class="contenedor">
    <p-dialog [(visible)]="detailExtintor" [position]="positionDetail" [breakpoints]="{'960px': '75vw', '640px':     '90vw'}" [modal]="true" [style]="{width: '70vw'} " [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="header">
            <h3 class="titulo-h3">
                <i class="pi pi-list "></i> DETALLE DE EXTINTORES
            </h3>
        </ng-template>
        <p-table [value]="cliente" class="table-detalle">
            <ng-template pTemplate="header">
                <tr class="header1">
                    <th class="identificador-detalle"> # </th>
                    <th> Tipo </th>
                    <th> Peso </th>
                    <th> Cantidad </th>
                    <th> Fecha S </th>
                    <th> Fecha M/to </th>
                    <th> Fecha V </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
                <tr>
                    <td data-detalle="#">#</td>
                    <td data-detalle="Tipo">2</td>
                    <td data-detalle="Peso">2</td>
                    <td data-detalle="Cantidad">2</td>
                    <td data-detalle="Fecha S">2</td>
                    <td data-detalle="Fecha M">2</td>
                    <td data-detalle="Fecha V">2</td>
                </tr>
            </ng-template>
        </p-table>
        <p-footer>
            <p-button icon="pi pi-save" label="Guardar" styleClass="p-button-primary"></p-button>
        </p-footer>
    </p-dialog>
</div>





<div class="contenedor">
    <div>
        <h2 class="titulo-prin">
            Lista de clientes
        </h2>
    </div>
    <div class="contenedor-dos">
        <div class="col-md-12">
            <div class="btn">
                <button (click)="showPositionDialog('center')" type="button" class="btn btn-primary btn-emple">
            <i class="pi pi-plus icono-btn"></i>Agregar cliente</button>
            </div>
            <app-clientes-dialog #clienteComponent (verClienteComponent)="AddItem($event)"></app-clientes-dialog>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 ml-3 mb-2 abc">
            <input type="search" placeholder="buscar..." id="buscador" name="buscador" class="form-control imput-buscar" [value]="busquedaCliente" (input)="busquedaCliente = $event.target.value">
        </div>
        <div class="col-md-1 div-boton">
            <button class="btn btn-primary boton-buscar">Buscar</button>
        </div>
    </div>

    <div class="card">
        <p-table [(value)]="cliente" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowHover]="true" currentPageReportTemplate="Item {first} al {last} de {totalRecords} Items" [rowsPerPageOptions]="[5,8,10,25,50]" styleClass="p-datatable-responsive-demo">

            <ng-template pTemplate="header">
                <tr class="header">
                    <th class="identificador"> # </th>
                    <th> Nombre </th>
                    <th> Documento / Nit</th>
                    <th> Descripción </th>
                    <th> Dirección </th>
                    <th> Teléfono </th>
                    <th> Email </th>
                    <!--   <th> Nit </th> -->
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cliente>
                <tr>
                    <td data-titulo="#"> {{ cliente.id }} </td>
                    <td data-titulo="Nombre"> {{ cliente.nombre | titlecase }} {{ cliente.apellido | titlecase }} </td>
                    <td data-titulo="Documento"> {{ cliente.docCliente }} {{ cliente.nit }}</td>
                    <td data-titulo="Descripción"> {{ cliente.descripcion | titlecase }} </td>
                    <td data-titulo="Dirección"> {{ cliente.direccion | titlecase }} </td>
                    <td data-titulo="Teléfono"> {{ cliente.telefono }} </td>
                    <td data-titulo="Email"> {{ cliente.email }} </td>
                    <!--     <td data-titulo="Nit"> {{ cliente.nit }} </td> -->
                    <td class="td-iconos">
                        <i (click)="showPositionDialog(cliente)" class="pi pi-pencil btn-outline-primary icono-table"></i>
                        <i (click)="confirmarElimCliente(cliente)" class="pi pi-trash btn-outline-danger icono-table"></i>
                        <i (click)="detalleExtintor('center')" class="pi pi-list btn-outline-success icono-table"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-toast [style]="{width: '80vw'}"></p-toast>

    <p-toast position="center" (onClose)="onReject()" key="i"  [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
          <div class="p-flex p-flex-column" style="flex: 1">
              <div class="p-text-center-botones">
                  <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                  <h4>{{message.summary}}</h4>
                  <p>{{message.detail}}</p>
              </div>
              <div class="row botonesConfirmacion ">
                  <div class="col-md-6">
                      <button type="button" pButton (click)="eliminarCliente(empleado)" label="Yes" class="p-button-success buttonSuccess"></button>
                  </div>
                  <div class="col-md-6">
                      <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary buttonSecondary"></button>
                  </div>
              </div>
          </div>
        </ng-template>
    </p-toast>
</div>
