* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-prin {
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 15px;
    padding-top: 10px;
}

.btn-client {
    width: 150px;
    height: 35px;
    margin-left: 15px;
    font-size: 13px;
    text-transform: uppercase;
}

.icono-btn {
    font-size: 13px;
    margin-right: 6px;
}


/* estilos dialogo agregar  */

.form-row label {
    margin-bottom: 5px;
    margin-top: 10px;
}

.titulo-h3 {
    width: 100%;
    height: 40px;
    margin-bottom: -20px;
}

.titulo-h3 i {
    margin-right: 6px;
}

.identificador-detalle {
    width: 30px;
}


/* fin estilos dialogo agregar  */


/* estilos tabla */

.card {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-bottom: 10px;
}

.icono-table {
    width: 30px;
    height: 30px;
    margin-left: -10px;
    margin-right: 16px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    border-radius: 3px;
}

.identificador {
    width: 50px;
}

.td-iconos {
    align-items: left;
    justify-content: space-between;
}


/* fin estilos tabla */


/* responsive */

@media screen and (max-width: 1000px) and (min-width:180px) {
    p-table {
        width: 100%;
        font-size: .9em;
    }
    p-table tr {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 1em;
        margin-bottom: 1em;
    }
    p-table td[data-titulo] {
        display: flex;
    }
    p-table td[data-titulo]::before {
        content: attr( data-titulo);
        width: 100px;
        color: silver;
        font-weight: bold;
    }
    p-table .header {
        display: none;
    }
}

@media screen and (max-width: 1000px) and (min-width:180px) {
    .table-detalle {
        width: 100%;
        font-size: .9em;
    }
    .table-detalle tr {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 1em;
        margin-bottom: 1em;
    }
    .table-detalle td[data-detalle] {
        display: flex;
    }
    .table-detalle td[data-detalle]::before {
        content: attr( data-detalle);
        width: 100px;
        color: silver;
        font-weight: bold;
    }
    .table-detalle .header1 {
        display: none;
    }
}

@media screen and (max-width: 400px) and (min-width:180px) {
    .table-detalle {
        width: 100%;
        font-size: .6em;
    }
    .table-detalle tr {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 1em;
        margin-bottom: 1em;
    }
    .table-detalle td[data-detalle] {
        display: flex;
    }
    .table-detalle td[data-detalle]::before {
        content: attr( data-detalle);
        width: 100px;
        color: silver;
        font-size: .6em;
        font-weight: bold;
    }
    .table-detalle .header1 {
        display: none;
    }
}
