<div class="container">

    <div>
        <h2 class="titulo-prin">
            <span>Información de la empresa</span>
        </h2>
    </div>
    <div class="img">
        <img src="./assets/img/bomberos.jpeg" alt="icono bomberos de Amalfi">
        <img src="./assets/img/contrariesgo.jpeg" alt="icono Contrariesgo">
    </div>

    <div class="table-service">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Nit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Bomberos Amalfi</td>
                    <td>Cll 23 45-65</td>
                    <td>313 789 4562</td>
                    <td>bomberosamalfi@gmail.com</td>
                    <td>125-5487</td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
