* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.contenedor {
    position: fixed;
    z-index: 2;
    width: 100%;
    text-align: center;
    margin-top: -52px;
    margin-bottom: 0px;
}

::placeholder {
    color: rgb(163, 159, 159);
}

hr {
    border: .2px solid #0471e6;
}

.clase-navbar {
    background-color: #01579b;
    height: 52px;
    width: 100%;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}


/* estilos menu lateral */

#btn-menu {
    display: none;
}

.container-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 200px;
    background: #01579b;
    height: 100%;
    position: absolute;
    z-index: 3;
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0);
}

.cont-menu nav {
    transform: translateY(0%);
    text-align: left;
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    color: #c7c7c7;
    font-size: 16px;
    border-left: 5px solid transparent;
    transition: all 500ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #336eb6;
}

.cont-menu .label-icono {
    width: 45px;
    height: 45px;
    line-height: 45px;
}

.cont-menu .label-icono .icono {
    position: absolute;
    right: 10px;
    top: 6px;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.cont-menu .label-icono .icono:hover {
    background-color: #2f6cb6;
    border-radius: 50px;
}

.cont-menu .label-texto {
    position: absolute;
    left: 10px;
    margin-top: 17px;
    color: #ffffff;
    font-size: 15px;
    padding: 0px;
}

.cont-menu .nav-item a {
    color: #ffffff;
}

.cont-menu .icon-nav {
    margin-right: 10px;
    color: #ffffff;
}


/*
fin estilos menu lateral */


/* estilos icono menu */

.div-menu .label-menu {
    width: 45px;
    height: 45px;
    line-height: 53px;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
}

.div-menu .label-menu .icon-menu {
    color: #ffffff;
    margin-top: 0px;
    margin-left: 0px;
    transition: .5s;
    font-size: 20px;
    cursor: pointer;
}

.div-menu .label-menu:hover {
    background-color: #2f6cb6;
    color: #ffffff;
    border-radius: 50px;
}


/* fin estilos icono menu */


/* estilos icono login */

.login .div-login {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    line-height: 51px;
    text-align: center;
    justify-content: center;
}

.login .div-login .iconologin {
    color: white;
    margin-top: 0px;
    margin-left: 0px;
    transition: .5s;
    font-size: 20px;
    cursor: pointer;
}

.login .div-login:hover {
    background-color: #2f6cb6;
    color: #ffffff;
    border-radius: 50px;
}


/* fin estilos icono login */


/* responsive */

@media(min-width :500px) and (max-width:700px) {
    .cont-menu {
        width: 100%;
        max-width: 200px;
        height: 200vh;
    }
    .label-menu {
        margin-left: 10px;
    }
    .div-menu .label-menu .icon-menu {
        font-size: 20px;
    }
}

@media(min-width :400px) and (max-width:499px) {
    .cont-menu {
        width: 100%;
        max-width: 200px;
        height: 200vh;
    }
    .div-menu .label-menu {
        margin-left: 10px;
    }
    .div-menu .label-menu .icon-menu {
        font-size: 20px;
    }
}

@media(min-width :300px) and (max-width:399px) {
    .cont-menu nav a {
        font-size: 14px;
    }
    .cont-menu {
        width: 100%;
        max-width: 200px;
        height: 200vh;
    }
    .label-menu {
        margin-left: 10px;
    }
    .login .div-login .iconologin {
        font-size: 15px;
    }
    .div-menu .label-menu .icon-menu {
        font-size: 20px;
    }
}

@media(min-width :240px) and (max-width:299px) {
    .cont-menu nav a {
        font-size: 14px;
    }
    .cont-menu {
        width: 100%;
        max-width: 150px;
        height: 200vh;
    }
    .cont-menu .label-texto {
        font-size: 12px;
    }
    .cont-menu .label-icono .icono {
        margin-right: -5px;
    }
    .label-menu {
        margin-left: 10px;
    }
    .login .div-login .iconologin {
        font-size: 15px;
    }
    .div-menu .label-menu {
        margin-left: 0px;
    }
    .div-menu .label-menu .icon-menu {
        font-size: 20px;
    }
}

@media(min-width :195px) and (max-width:239px) {
    .cont-menu nav a {
        font-size: 14px;
    }
    .cont-menu .label-texto {
        font-size: 12px;
    }
    .cont-menu .label-icono .icono {
        margin-right: -5px;
    }
    .cont-menu {
        width: 100%;
        max-width: 150px;
        height: 200vh;
    }
    .label-menu {
        margin-left: 10px;
    }
    .login .div-login {
        width: 20px;
        height: 30px;
        line-height: 34px;
        text-align: center;
    }
    .login .div-login .iconologin {
        margin-left: 5px;
        font-size: 16px;
        transition: .5s;
    }
    .div-menu .label-menu {
        margin-left: 0px;
    }
    .div-menu .label-menu .icon-menu {
        font-size: 18px;
    }
}