<div class="contenedor">
    <nav class="navbar navbar-light  clase-navbar ">
        <div class="container-fluid">
            <div class="btn-menu div-menu">
                <div class="label-menu">
                    <label for="btn-menu"><i class="pi pi-bars icon-menu"></i></label>
                </div>

            </div>
            <input type="checkbox" id="btn-menu">
            <div class="container-menu">
                <div class="cont-menu ">
                    <label class="label-texto">APP EXTINTORES</label>
                    <label for="btn-menu" class="label-icono"><i class="pi pi-angle-left icono "></i></label>
                    <hr>
                    <nav>
                        <ul>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="factura">
                                    <i class="pi pi-book icon-nav "></i>Factura
                                </a>
                            </li>

                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="servicios">
                                    <i class="pi pi-file-o icon-nav"></i>Servicios
                                </a>
                            </li>

                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="creditos">
                                    <i class="pi pi-credit-card icon-nav "></i>Créditos
                                </a>
                            </li>

                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="clientes">
                                    <i class="pi pi-users icon-nav"></i>Clientes
                                </a>
                            </li>

                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="empleados">
                                    <i class="pi pi-user icon-nav"></i>Empleados
                                </a>
                            </li>

                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="precios">
                                    <i class="pi pi-dollar icon-nav"></i>Precios
                                </a>
                            </li>

                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="gastos">
                                    <i class="pi pi-euro icon-nav"></i>Gastos
                                </a>
                            </li>

                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="productos">
                                    <i class="pi pi-list icon-nav"></i>Productos
                                </a>
                            </li>

                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="almacen">
                                    <i class="pi pi-home icon-nav"></i>Almacén
                                </a>
                            </li>

                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="extintor">
                                    <i class="fas fa-fire-extinguisher icon-nav"></i>Extintores
                                </a>
                            </li>

                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="empresa">
                                    <i class="far fa-building icon-nav"></i>Empresa
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>

            <div class=" login">
                <div class="div-login">
                    <label for=""><i class="pi pi-sign-in iconologin"></i></label>
                </div>
            </div>
        </div>
    </nav>
</div>