<p-dialog [(visible)]="displayPosition" [position]="position" [breakpoints]="{'960px': '75vw', '640px':     '90vw'}" [modal]="true" [style]="{width: '70vw'} " [baseZIndex]="2" [draggable]="false" [resizable]="false" [closable]="false">
    <ng-template pTemplate="header">
        <h3 class="titulo-h3">
            <i class="pi pi-user-plus "></i> guardar empleado
        </h3>
    </ng-template>
    <div class="form">
        <form name="form" id="form" novalidate autocomplete="off" #forma="ngForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input class="form-control" type="text" name="nombre" id="nombre" [class.is-invalid]="nombre. invalid && nombre.touched" [(ngModel)]="employee.nombre" #nombre="ngModel" minlength="3" required>
                    <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">
                      Este campo es obligatorio
                    </small>
                    <small *ngIf="nombre.invalid && nombre.hasError('minlength')" class="form-text text-danger">
                      Debe contener almenos 3 caracteres
                    </small>
                </div>

                <div class="form-group col-md-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input class="form-control" type="text" name="apellido" id="apellido" [class.is-invalid]="apellido.invalid && apellido.touched" [(ngModel)]="employee.apellido" #apellido="ngModel" required minlength="3">
                    <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">
                      Este campo es obligatorio
                    </small>
                    <small *ngIf="apellido.invalid && apellido.hasError('minlength')" class="form-text text-danger">
                      Debe contener almenos 3 caracteres
                    </small>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input class="form-control" type="number" name="telefono" id="telefono" min="7" max="15" [class.is-invalid]="telefono.invalid && telefono.touched" [(ngModel)]="employee.telefono" #telefono="ngModel" required>
                    <small *ngIf="telefono.invalid && telefono.touched" class="form-text text-danger">
                      Este campo es obligatorio
                    </small>
                </div>

                <div class="form-group col-md-6">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input class="form-control" type="text" name="direccion" id="direccion" [class.is-invalid]="direccion.invalid && direccion.touched" [(ngModel)]="employee.direccion" #direccion="ngModel" required minlength="4">
                    <small *ngIf="direccion.invalid && direccion.touched" class="form-text text-danger">
                      Este campo es obligatorio
                    </small>
                    <small *ngIf="direccion.invalid && direccion.hasError('minlength')" class="form-text text-danger">
                      Debe contener almenos 4 caracteres
                    </small>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" type="email" name="email" id="email" [class.is-invalid]="email.invalid && email.touched" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="employee.email" #email="ngModel" required>
                    <small *ngIf="email.invalid && email.touched" class="form-text text-danger">
                      Este campo es obligatorio
                    </small>
                </div>
                <div class="form-group col-md-6">
                    <label for="idEmpresa" class="form-label">Empresa</label>
                    <select class="form-control" name="idEmpresa" id="idEmpresa" [disabled]="empresa.length === 0" [class.is-invalid]="idEmpresa.invalid && idEmpresa.touched" [(ngModel)]="employee.idEmpresa" #idEmpresa="ngModel" required>
                          <option *ngFor="let item of empresa" [value]="item.id">{{item.nombre}} </option>
                        </select>
                    <small *ngIf="idEmpresa.invalid && idEmpresa.touched" class="form-text text-danger">
                          Este campo es obligatorio
                        </small>
                </div>
            </div>
        </form>
    </div>
    <p-footer>
        <p-button type="button" (click)="addPostEployee(forma)" icon="pi pi-save" label="Guardar" styleClass="p-button-primary" [disabled]="forma.invalid"></p-button>
        <p-button type="button" (click)="cerrarDialog(forma)" icon="pi pi-times" label="Cancelar" styleClass="p-button-secondary"></p-button>
    </p-footer>
</p-dialog>

<p-toast [style]="{width: '80vw'}"></p-toast>
