<p-dialog [(visible)]="displayPosition" [position]="position" [breakpoints]="{'960px': '75vw', '640px':     '90vw'}" [modal]="true" [style]="{width: '70vw'} " [baseZIndex]="2" [draggable]="false" [resizable]="false" [closable]="false">
    <ng-template pTemplate="header">
        <h3 class="titulo-h3">
            <i class="pi pi-user-plus "></i> guardar empleado
        </h3>
    </ng-template>
    <div class="form">
        <form name="form" id="form" novalidate #forma="ngForm" autocomplete="nope">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" autocomplete="nope" [(ngModel)]="employee.nombre" #nombre="ngModel" required="true">
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required" class="alert alert-danger">
                            El campo nombre es obligatorio
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" name="apellido" id="apellido" class="form-control" autocomplete="nope" [(ngModel)]="employee.apellido" #apellido="ngModel" required="true">
                    <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                        <div *ngIf="apellido.errors.required" class="alert alert-danger">
                            El campo apellido es obligatorio
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="number" name="telefono" id="telefono" class="form-control" autocomplete="nope" [(ngModel)]="employee.telefono" #telefono="ngModel" required="true">
                    <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                        <div *ngIf="telefono.errors.required" class="alert alert-danger">
                            El campo teléfono es obligatorio
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" name="direccion" id="direccion" class="form-control" autocomplete="nope" [(ngModel)]="employee.direccion" #direccion="ngModel" required="true">
                    <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
                        <div *ngIf="direccion.errors.required" class="alert alert-danger">
                            El campo direccion es obligatorio
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control" autocomplete="nope" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\[a-z]{2,4}$" [(ngModel)]="employee.email" #email="ngModel" required="true">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required" class="alert alert-danger">
                            El campo email es obligatorio
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="idEmpresa" class="form-label">Empresa</label>
                    <select name="idEmpresa" id="idEmpresa" class="form-control" autocomplete="nope" [(ngModel)]="employee.idEmpresa" #idEmpresa="ngModel" required="true">
                          <option *ngFor="let item of empresa" value="{{item.id}}">{{item.nombre}} </option>
                        </select>
                </div>
            </div>
        </form>
    </div>
    <p-footer>
        <p-button (click)="addPostEployee()" icon="pi pi-save" label="Guardar" styleClass="p-button-primary" [disabled]="forma.invalid"></p-button>
        <p-button type="button" (click)="cerrarDialog(forma)" icon="pi pi-times" label="Cancelar" styleClass="p-button-secondary"></p-button>
    </p-footer>
</p-dialog>

<p-toast></p-toast>
