<div class="contenedor">

    <div>
        <h2 class="titulo-prin">
            <span>Lista de servicios</span>
        </h2>
    </div>
    <div class="table-service">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"> Fecha </th>
                    <th scope="col"> Cliente </th>
                    <th scope="col"> Total </th>
                    <th scope="col"> Estado </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td data-titulo="Fecha"> 08/08/2021 </td>
                    <td data-titulo="Cliente"> Jose Ramon </td>
                    <td data-titulo="Total"> $10.000 </td>
                    <td data-titulo="Estado"> Cancelado </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td data-titulo="Fecha"> 07/08/2021 </td>
                    <td data-titulo="Cliente"> Ivan Ramon </td>
                    <td data-titulo="Total"> $20.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td data-titulo="Fecha"> 06/08/2021 </td>
                    <td data-titulo="Cliente"> Arturo Ramon </td>
                    <td data-titulo="Total"> $30.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td data-titulo="Fecha"> 06/08/2021 </td>
                    <td data-titulo="Cliente"> Arturo Ramon </td>
                    <td data-titulo="Total"> $30.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td data-titulo="Fecha"> 06/08/2021 </td>
                    <td data-titulo="Cliente"> Arturo Ramon </td>
                    <td data-titulo="Total"> $30.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td data-titulo="Fecha"> 06/08/2021 </td>
                    <td data-titulo="Cliente"> Arturo Ramon </td>
                    <td data-titulo="Total"> $30.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td data-titulo="Fecha"> 06/08/2021 </td>
                    <td data-titulo="Cliente"> Arturo Ramon </td>
                    <td data-titulo="Total"> $30.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td data-titulo="Fecha"> 06/08/2021 </td>
                    <td data-titulo="Cliente"> Arturo Ramon </td>
                    <td data-titulo="Total"> $30.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td data-titulo="Fecha"> 06/08/2021 </td>
                    <td data-titulo="Cliente"> Arturo Ramon </td>
                    <td data-titulo="Total"> $30.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td data-titulo="Fecha"> 06/08/2021 </td>
                    <td data-titulo="Cliente"> Arturo Ramon </td>
                    <td data-titulo="Total"> $30.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td data-titulo="Fecha"> 06/08/2021 </td>
                    <td data-titulo="Cliente"> Arturo Ramon </td>
                    <td data-titulo="Total"> $30.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td data-titulo="Fecha"> 06/08/2021 </td>
                    <td data-titulo="Cliente"> Arturo Ramon </td>
                    <td data-titulo="Total"> $30.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td data-titulo="Fecha"> 06/08/2021 </td>
                    <td data-titulo="Cliente"> Arturo Ramon </td>
                    <td data-titulo="Total"> $30.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td data-titulo="Fecha"> 06/08/2021 </td>
                    <td data-titulo="Cliente"> Arturo Ramon </td>
                    <td data-titulo="Total"> $30.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td data-titulo="Fecha"> 06/08/2021 </td>
                    <td data-titulo="Cliente"> Arturo Ramon </td>
                    <td data-titulo="Total"> $30.000 </td>
                    <td data-titulo="Estado"> Pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p-paginator [rows]="10" [totalRecords]="15" [rowsPerPageOptions]="[10,20,30]"></p-paginator>

</div>
