<div class="contenedor">

    <div class="row">
      <div class="col-md-12">
        <h2 class="titulo-prin">
          Lista de servicios
        </h2>
      </div>
    </div>

    <div class="card">
        <p-table [value]="servicios" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Item {first} al {last} de {totalRecords} Items" [rowsPerPageOptions]="[5,8,10,25,50]">
            <ng-template pTemplate="header">
                <tr class="header">
                    <th> # </th>
                    <th> Fecha </th>
                    <th> Cliente </th>
                    <th> Total </th>
                    <th> Estado </th>
                    <th> Empleado </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-servicios>
                <tr>
                    <td data-titulo="#">{{servicios?.idServicios}}</td>
                    <td data-titulo="Fecha">{{servicios?.fechaServicio | date}}</td>
                    <td data-titulo="Clente">{{servicios?.cliente?.nombre | titlecase}} {{servicios?.cliente?.apellido | titlecase}}</td>
                    <td data-titulo="Total">{{servicios?.valor | currency }}</td>
                    <td data-titulo="Estado">{{servicios?.estado}}</td>
                    <td data-titulo="Clente">{{servicios?.empleado?.nombre | titlecase}} {{servicios?.empleado?.apellido | titlecase}}</td>
                    <td>
                      <i (click)="showPositionService(servicios?.idServicios)" class="pi pi-pencil btn-outline-primary icono-table"></i>
                      <i (click)="confirmarElimServicio(servicios)" class="pi pi-trash btn-outline-danger icono-table"></i>
                      <i (click)="showPositionDialog('center')" class="pi pi-list btn-outline-primary icono-table"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <p-dialog [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '70vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="header">
            <h3 class="titulo-h3">
                <i class="pi pi-list "></i> DETALLE DEL SERVICIO
            </h3>
        </ng-template>
        <p-table [value]="servicios" class="table-detalle">
            <ng-template pTemplate="header">
                <tr class="header1">
                    <th> # </th>
                    <th> IdServicio </th>
                    <th> Descripción </th>
                    <th> Tipo </th>
                    <th> Peso </th>
                    <th> Cantidad </th>
                    <th> Valor Unit </th>
                    <th> Total </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
                <tr>
                    <td data-detalle="#">1daddasfs</td>
                    <td data-detalle="IdServicio">2</td>
                    <td data-detalle="Descripción">2</td>
                    <td data-detalle="Tipo">2</td>
                    <td data-detalle="Peso">2</td>
                    <td data-detalle="Cantidad">2</td>
                    <td data-detalle="Valor Unit">2</td>
                    <td data-detalle="Total">2</td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template pTemplate="footer">
        </ng-template>
    </p-dialog>

    <p-toast [style]="{width: '80vw'}"></p-toast>

      <p-toast position="center" (onClose)="onReject()" key="k"  [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="p-flex p-flex-column" style="flex: 1">
                <div class="p-text-center-botones">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                    <h4>{{message.summary}}</h4>
                    <p>{{message.detail}}</p>
                </div>
                <div class="row botonesConfirmacion ">
                    <div class="col-md-6">
                        <button type="button" pButton (click)="eliminarServicioId(servicios)" label="Yes" class="p-button-success buttonSuccess"></button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary buttonSecondary"></button>
                    </div>
                </div>
            </div>
          </ng-template>
      </p-toast>
</div>
