* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    margin: 10px;
}

.tituloPincipal {
    margin-bottom: 10px;
    margin-left: 5px;
    text-transform: uppercase;
}

.subtitulo {
    margin-top: 20px;
    margin-left: 5px;
    text-transform: uppercase;
}


/*
.formulario {
    justify-content: space-between;
} */

label {
    margin-left: 0px;
    margin-top: 10px;
}

.btnform-servicio {
    margin-top: 10px;
    margin-left: 5px;
}

.btn-servicio {
    width: 100px;
    height: 35px;
    margin-right: 10px;
    text-transform: uppercase;
}


/* estilos tabla */

.card {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-bottom: 10px;
}

.icono-table {
    width: 30px;
    height: 30px;
    margin-left: -10px;
    margin-right: 16px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    border-radius: 3px;
}

.identificador {
    width: 50px;
}

.td-iconos {
    align-items: left;
    justify-content: space-between;
}

input{
  padding-left: 5px;
  padding-right: 5px;
}
select{
  padding-left: 5px;
  padding-right: 5px;
}

/* fin estilos tabla */

@media screen and (max-width: 800px) and (min-width:180px) {
    p-table {
        width: 100%;
        font-size: .9em;
    }
    p-table tr {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 1em;
        margin-bottom: 1em;
    }
    p-table td[data-titulo] {
        display: flex;
    }
    p-table td[data-titulo]::before {
        content: attr( data-titulo);
        width: 100px;
        color: silver;
        font-weight: bold;
    }
    /*  p-table .header {
        display: none;
    } */
}
