<div class="contenedor">
    <div>
        <h1 class="tituloPincipal">Facturación de servicio</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form name="form" id="form" novalidate autocomplete="off" #form="ngForm">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="cliente" class="form-label">Cliente</label>
                        <select class="form-control" name="idClientes" id="cliente" [disabled]="clientes.length === 0" [class.is-invalid]="idClientes.invalid && idClientes.touched" [(ngModel)]="servicioModel.idClientes" #idClientes="ngModel" required>
                        <option *ngFor="let item of clientes" [value]="item.id">{{item.nombre}} {{item.apellido}} </option>
                        </select>
                        <small *ngIf="idClientes.invalid && idClientes.touched" class="form-text text-danger">
                        Este campo es obligatorio
                      </small>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="empleado" class="form-label">Empleado</label>
                        <select class="form-control" name="idEmpleados" id="empleado" [disabled]="empleados.length === 0" [class.is-invalid]="idEmpleados.invalid && idEmpleados.touched" [(ngModel)]="servicioModel.idEmpleados" #idEmpleados="ngModel" required>
                        <option *ngFor="let item of empleados" [value]="item.id">{{item.nombre}} {{item.apellido}} </option>
                       </select>
                        <small *ngIf="idEmpleados.invalid && idEmpleados.touched" class="form-text text-danger">
                        Este campo es obligatorio
                      </small>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="fechaS" class="form-label">Fecha servicio</label>
                        <input class="form-control" type="date" name="fechaServicio" id="fechaS" [class.is-invalid]="fechaServicio.invalid && fechaServicio.touched" [(ngModel)]="servicioModel.fechaServicio" #fechaServicio="ngModel" required>
                        <small *ngIf="fechaServicio.invalid && fechaServicio.touched" class="form-text text-danger">
                          Este campo es obligatorio
                        </small>
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-4">
                        <label for="fechaMante" class="form-label">Fecha mantenimiento</label>
                        <input class="form-control" type="date" name="fechaServicio" id="fechaMante" [class.is-invalid]="fechaServicio.invalid && fechaServicio.touched" required>
                        <!-- <small *ngIf="fechaServicio.invalid && fechaServicio.touched" class="form-text text-danger">
                      Este campo es obligatorio
                      </small> -->
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fechaVen" class="form-label">Fecha vencimiento</label>
                        <input class="form-control" type="date" name="fechaServicio" id="fechaVen" [class.is-invalid]="fechaServicio.invalid && fechaServicio.touched" required>
                        <!--  <small *ngIf="fechaServicio.invalid && fechaServicio.touched" class="form-text text-danger">
                      Este campo es obligatorio
                      </small> -->
                    </div>

                    <div class="form-group col-md-4">
                        <label for="estado" class="form-label">Estado</label>
                        <select id="estado" class="form-control">
                        <option selected>  </option>
                        <option> Cancelado </option>
                        <option> Pendiente </option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="abono" class="form-label">Abono</label>
                        <input class="form-control" type="number" name="fechaServicio" id="abono" [class.is-invalid]="fechaServicio.invalid && fechaServicio.touched" required>
                        <!--  <small *ngIf="fechaServicio.invalid && fechaServicio.touched" class="form-text text-danger">
                        Este campo es obligatorio
                        </small> -->
                    </div>
                </div>

                <div>
                    <h2 class="subtitulo">
                        Seleccionar servicio
                    </h2>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input class="form-control" type="text" name="descripcion" id="descripcion" [class.is-invalid]="descripcion.invalid && descripcion.touched" [(ngModel)]="detalleServicio.descripcion" #descripcion="ngModel" required>
                        <small *ngIf="fechaServicio.invalid && fechaServicio.touched" class="form-text text-danger">
                      Este campo es obligatorio
                      </small>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="peso" class="form-label">Peso extintor</label>
                        <select class="form-control" name="pesoXlibras" id="peso" [disabled]="pesoExti.length === 0" [class.is-invalid]="pesoXlibras.invalid && pesoXlibras.touched" [(ngModel)]="detalleServicio.pesoXlibras" #pesoXlibras="ngModel" required>
                        <option *ngFor="let item of pesoExti" [value]="item.id">{{item.pesoXlibras}} </option>
                      </select>
                        <small *ngIf="pesoXlibras.invalid && pesoXlibras.touched" class="form-text text-danger">
                        Este campo es obligatorio
                      </small>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="tipo" class="form-label">Tipo extintor</label>
                        <select class="form-control" name="tipoExtintor" id="tipo" [disabled]="tipoExti.length === 0" [class.is-invalid]="tipoExtintor.invalid && tipoExtintor.touched" [(ngModel)]="detalleServicio.tipoExtintor" #tipoExtintor="ngModel" required>
                      <option *ngFor="let item of tipoExti" [value]="item.id">{{item.tipo_Extintor}} </option>
                      </select>
                        <small *ngIf="tipoExtintor.invalid && tipoExtintor.touched" class="form-text text-danger">
                        Este campo es obligatorio
                      </small>
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-4">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <input class="form-control" type="number" name="cantidad" id="cantidad" [class.is-invalid]="cantidad.invalid && cantidad.touched" [(ngModel)]="detalleServicio.cantidad" #cantidad="ngModel" required>
                        <small *ngIf="cantidad.invalid && cantidad.touched" class="form-text text-danger">
                          Este campo es obligatorio
                        </small>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="valor" class="form-label">Valor</label>
                        <input class="form-control" type="number" name="valor" id="valor" [class.is-invalid]="valor.invalid && valor.touched" [(ngModel)]="detalleServicio.valor" #valor="ngModel" required>
                        <small *ngIf="cantidad.invalid && cantidad.touched" class="form-text text-danger">
                          Este campo es obligatorio
                        </small>
                    </div>
                </div>

                <div class="btnform-servicio">
                    <button (click)="agregarDetalle(form)" type="button" class="btn btn-primary btn-servicio">Agregar</button>
                    <button type="button" class="btn btn-secondary btn-servicio">Guardar</button>
                </div>
            </form>
        </div>


        <div class="card">
            <p-table [(value)]="detalleFactura" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowHover]="true" currentPageReportTemplate="Item {first} al {last} de {totalRecords} Items" [rowsPerPageOptions]="[5,8,10,25,50]">
                <ng-template pTemplate="header">
                    <tr class="header">
                        <th class="identificador"> # </th>
                        <th> Descripción </th>
                        <th> Peso </th>
                        <th> Tipo </th>
                        <th> Cantidad </th>
                        <th> Valor unit </th>
                        <th> Total </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-detalleFactura>
                    <tr>
                        <td data-titulo="#"> {{ detalleFactura.id }} </td>
                        <td data-titulo="Descripción"> {{ detalleFactura.descripcion }} </td>
                        <td data-titulo="Peso"> {{ detalleFactura.pesoXlibras }} </td>
                        <td data-titulo="Tipo"> {{ detalleFactura.tipoExtintor }} </td>
                        <td data-titulo="Cantidad"> {{ detalleFactura.cantidad }} </td>
                        <td data-titulo="Total"> {{ detalleFactura.valor | currency }} </td>
                        <td data-titulo="Total"> {{ detalleFactura.total | currency }} </td>
                        <td class="td-iconos">
                            <i class="pi pi-pencil btn-outline-primary icono-table"></i>
                            <i class="pi pi-trash btn-outline-danger icono-table"></i>
                            <i class="pi pi-list btn-outline-success icono-table"></i>
                        </td>
                    </tr>
                    <!--   <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>$44.000</td>
                    </tr> -->
                </ng-template>
            </p-table>
        </div>
    </div>

</div>
