p-button {
    margin-top: 5px;
}

@media screen and (max-width: 330px) and (min-width:180px) {
    p-button {
        margin-bottom: 5px;
    }
}

p-toast {
    z-index: 1;
}

/* estilos del titulo e icono del modal agregar */

.icono-btn{
  margin-right: 6px;
  font-size: 20px;
}

.titulo-h3{
  font-size: 20px;
}
