<p-dialog [(visible)]="displayPosition" [position]="position" [breakpoints]="{'960px': '75vw', '640px':     '90vw'}" [modal]="true" [style]="{width: '70vw'} " [baseZIndex]="2" [draggable]="false" [resizable]="false" [closable]="false">
    <ng-template pTemplate="header">
        <h3 class="titulo-h3">
            <i class="pi pi-list "></i> AGREGAR PRODUCTO
        </h3>
    </ng-template>
    <div class="form">
        <form name="form" id="form" novalidate autocomplete="off" #form="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input class="form-control" type="date" name="fecha" id="fecha" [class.is-invalid]="fecha. invalid && fecha.touched" [(ngModel)]="inventariado.fecha" #fecha="ngModel" required>
                        <small *ngIf="fecha.invalid && fecha.touched" class="form-text text-danger">
                    Este campo es obligatorio
                  </small>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="idProductos" class="form-label">Producto</label>
                    <select class="form-control" name="idProductos" id="idProductos" [disabled]="producto?.length === 0" [class.is-invalid]="idProductos.invalid && idProductos.touched" [(ngModel)]="inventariado.idProductos" #idProductos="ngModel" required>
                  <option *ngFor="let item of producto" [value]="item.idProductos">{{item.tipoProducto}} </option>
                  </select>
                    <small *ngIf="idProductos.invalid && idProductos.touched" class="form-text text-danger">
                  Este campo es obligatorio
                  </small>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="tipo" class="form-label">Tipo extintor</label>
                    <select class="form-control" name="tipo" id="tipo" [disabled]="tipoExt?.length === 0"  [(ngModel)]="inventariado.idTipoExtintor" #tipo="ngModel" >
                    <option *ngFor="let item2 of tipoExt" [value]="item2.idTipoExtintor">{{item2.tipo_Extintor}} </option>
                    </select>

                </div>
                <div class="form-group col-md-6">
                    <label for="pesoXlibras" class="form-label">Peso extintor</label>
                    <select class="form-control" name="pesoXlibras" id="pesoXlibras" [disabled]="pesoExt?.length === 0" [(ngModel)]="inventariado.idPesoExtintor" #pesoXlibras="ngModel" >
                    <option *ngFor="let item2 of pesoExt" [value]="item2.idPesoExtintor">{{item2.pesoXlibras}} </option>
                    </select>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="cantidad" class="form-label">Cantidad</label>
                    <input class="form-control" type="number" name="cantidad" id="cantidad" [class.is-invalid]="cantidad. invalid && cantidad.touched" [(ngModel)]="inventariado.cantidad" #cantidad="ngModel" required>
                    <small *ngIf="cantidad.invalid && cantidad.touched" class="form-text text-danger">
                    Este campo es obligatorio
                    </small>
                </div>
                <div class="form-group col-md-6">
                    <label for="fechaV" class="form-label">Fecha V</label>
                    <input class="form-control" type="date" name="fechaVencimiento" id="fechaV"  [(ngModel)]="inventariado.fechaVencimiento" #fechaVencimiento="ngModel" >

                </div>
            </div>
        </form>
    </div>
    <p-footer>
        <p-button (click)="alamcenarInventario(form)" type="button" icon="pi pi-save" label="Guardar" styleClass="p-button-primary" [disabled]="form.invalid"></p-button>
        <p-button type="button" (click)="cerrarDialog(form)" icon="pi pi-times" label="Cancelar" styleClass="p-button-secondary"></p-button>
    </p-footer>
</p-dialog>

<p-toast [style]="{width: '80vw'}"></p-toast>
