<div class="contenedor">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
            <div class="card_register">
                <div class="card">
                    <div class="card-body">
                        <form name="form" id="form" novalidate #form="ngForm">
                            <h1 class="text-center">Regístrate</h1>
                            <div class="form-group">
                                <label for="nombres" class="form-label">Nombre</label>
                                <input class="form-control icono-placeholder" type="text" id="nombres" name="nombres" placeholder=" "
                                [(ngModel)]="user.nombres" #nombres="ngModel" required>
                            </div>
                            <div class="form-group">
                                <label for="apellidos" class="form-label">Apellidos</label>
                                <input class="form-control icono-placeholder" type="text" id="apellidos" name="apellidos" placeholder=" "
                                [(ngModel)]="user.apellidos" #apellidos="ngModel" required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-label">Email</label>
                                <input class="form-control icono-placeholder" type="email" id="email" name="email" placeholder=" "
                                [(ngModel)]="user.email" #email="ngModel" required>
                            </div>
                            <div class="form-group">
                              <label for="userName" class="form-label">Usuario</label>
                              <input class="form-control icono-placeholder" type="text" id="userName" name="userName" placeholder=" "
                              [(ngModel)]="user.userName" #userName="ngModel" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-label">Contraseña</label>
                                <input class="form-control icono-placeholder" type="password" id="password" name="password" placeholder=" "
                                [(ngModel)]="user.password" #password="ngModel" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
                                <input class="form-control icono-placeholder" type="password" id="confirmPassword" name="confirmPassword" placeholder=" " [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" required>
                            </div>
                            <button type="button" (click)="registrarUsuario(form)" class="btn btn-lg btn-primary btn-block">Guardar</button>

                            <a routerLink="/login" class="btn btn-lg btn-secondary btn-block">Iniciar sesión</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
