<div class="contenedor">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
            <div class="card_register">
                <div class="card">
                    <div class="card-body">
                        <form action="">
                            <h1 class="text-center">Regístrate</h1>
                            <div class="form-group">
                                <label for="nombre" class="form-label">Nombre usuario</label>
                                <input class="form-control icono-placeholder" type="text" id="nombre" name="Nombre" placeholder=" " required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-label">Email</label>
                                <input class="form-control icono-placeholder" type="email" id="email" name="email" placeholder=" " required>
                            </div>
                            <div class="form-group">
                                <label for="contraseña" class="form-label">Contraseña</label>
                                <input class="form-control icono-placeholder" type="password" id="contraseña" name="contraseña" placeholder=" " required>
                            </div>
                            <button type="button" class="btn btn-lg btn-primary btn-block">Guardar</button>

                            <a routerLink="/login" class="btn btn-lg btn-secondary btn-block">Iniciar sesión</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>