<div class="contenedor">

    <div>
        <h2 class="titulo-prin">
            Lista de precios
        </h2>
    </div>
    <div class="contenedor">
        <div class="col-md-12">
            <div class="btn">
                <button (click)="showPositionDialog('center')" type="button" class="btn btn-primary btn-precio">
                 <i class="pi pi-dollar icono-btn"></i>Agregar precio</button>
            </div>
            <app-precio-dialog (verPrecio)="addItem()"></app-precio-dialog>
        </div>
    </div>
    <div class="card">
        <p-table [(value)]="paises" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Item {first} al {last} de {totalRecords} Items" [rowsPerPageOptions]="[5,8,10,25,50]">
            <ng-template pTemplate="header">
                <tr class="header">
                    <th class="identificador"> # </th>
                    <th> Descripción </th>
                    <th> Valor </th>
                    <th> Iva </th>
                    <th> Valor total </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let paises>
                <tr>
                    <td data-titulo="#"> 1</td>
                    <td data-titulo="Descripción"> 2</td>
                    <td data-titulo="Valor"> 3</td>
                    <td data-titulo="Iva"> 6</td>
                    <td data-titulo="Valor total"> 7</td>
                    <td class="td-iconos">
                        <i (click)="editarPrecio('center')" class="pi pi-pencil btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- dialogos -->


    <p-dialog [(visible)]="editarPrice" [position]="positionEdit" [breakpoints]="{'960px': '75vw', '640px':     '90vw'}" [modal]="true" [style]="{width: '70vw'} " [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="header">
            <h3 class="titulo-h3">
                <i class="pi pi-dollar "></i> EDITAR PRECIO
            </h3>
        </ng-template>
        <div class="form">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="descripcion1" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcion1">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="valor1" class="form-label">Valor</label>
                        <input type="text" class="form-control" id="valor1">
                    </div>
                </div>
            </form>
        </div>
        <p-footer>
            <p-button icon="pi pi-save" label="Guardar" styleClass="p-button-primary"></p-button>
        </p-footer>
    </p-dialog>
