<div class="container">

    <div>
        <h2 class="titulo-prin">
            <span>Lista de precios</span>
        </h2>
    </div>
    <div class="btn">
        <button type="button" class="btn btn-primary btn-stock">Agregar stock</button>
    </div>

    <div class="table-service">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col"> Descripción </th>
                    <th scope="col"> Valor </th>
                    <th scope="col"> Iva </th>
                    <th scope="col"> Valor Total </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"> 1 </th>
                    <td> recarga de extintor 5L </td>
                    <td> $15.000 </td>
                    <td> $3.000 </td>
                    <td> $18.000 </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row"> 2 </th>
                    <td> recarga de extintor 10L </td>
                    <td> $25.000 </td>
                    <td> $4.000 </td>
                    <td> $29.000 </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row"> 3 </th>
                    <td> venta de extintor 5L </td>
                    <td> $30.000 </td>
                    <td> $6.000 </td>
                    <td> $36.000 </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
