<div class="contenedor">

    <div>
        <h2 class="titulo-prin">
            <span>Estock en Almacén</span>
        </h2>
    </div>
    <div class="table-service">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>08/08/2021</td>
                    <td>extintor</td>
                    <td>5L</td>
                    <td>ABC</td>
                    <td>50</td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>07/08/2021</td>
                    <td>extintor</td>
                    <td>10L</td>
                    <td>solkaflan</td>
                    <td>20</td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
