<div class="contenedor">
    <div>
        <h2 class="titulo-prin">
            inventario
        </h2>
    </div>
    <div class="contenedor-dos">
        <div class="col-md-12">
            <div class="btn">
                <button (click)="showPositionDialog(inventariado)" type="button" class="btn btn-primary btn-emple">
              <i class="pi pi-plus icono-btn"></i>Agregar producto</button>
            </div>
            <app-almacen-dialog #componentInventario (verInventarioComponent)="AddItem($event)"></app-almacen-dialog>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 ml-3 mb-2 abc">
            <input type="search " placeholder="buscar..." id="buscador" name="buscador" class="form-control imput-buscar" [value]="busquedaInventario" (input)="busquedaInventario = $event.target.value">
        </div>
        <div class="col-md-1 div-boton">
            <button (click)="buscarInventario()" class="btn btn-primary boton-buscar">Buscar</button>
        </div>
    </div>

    <div class="card">
        <p-table [(value)]="inventario" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowHover]="true" currentPageReportTemplate="Item {first} al {last} de {totalRecords} Items" [rowsPerPageOptions]="[5,8,10,25,50]" styleClass="p-datatable-responsive-demo">

            <ng-template pTemplate="header">
                <tr class="header">
                    <th class="identificador"> # </th>
                    <th> Fecha </th>
                    <!-- <th> Descripción </th> -->
                    <th> # Producto </th>
                    <th> Tipo </th>
                    <th> Peso </th>
                    <th> Cantidad </th>
                    <th> Fecha vencimiento </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-inventario>
                <tr>
                    <td data-titulo="#"> {{ inventario.id }} </td>
                    <td data-titulo="Fecha"> {{ inventario.fecha | date:'yyyy/M/d' }} </td>
                    <!--      <td data-titulo="Descripción"> {{ inventario.descripcion | titlecase }} </td> -->
                    <td data-titulo="IdProducto"> {{ inventario.idProductos }} </td>
                    <td data-titulo="Tipo"> {{ inventario.tipo | titlecase }} </td>
                    <td data-titulo="Peso"> {{ inventario.pesoXlibras }} </td>
                    <td data-titulo="Cantidad"> {{ inventario.cantidad }} </td>
                    <td data-titulo="F.Vencimiento"> {{ inventario.fechaVencimiento | date:'yyyy/M/d' }} </td>
                    <td class="td-iconos">
                        <i (click)="showPositionDialog(inventario)" class="pi pi-pencil btn-outline-primary icono-table"></i>
                        <i (click)="eliminarInventarios(inventario)" class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-toast [style]="{width: '80vw'}"></p-toast>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
</div>
