<div class="contenedor">

    <div>
        <h2 class="titulo-prin">
            <span>Lista de gastos</span>
        </h2>
    </div>
    <div class="btn">
        <button type="button" class="btn btn-primary btn-stock">Agregar gasto</button>
    </div>
    <!-- <div class="table-service">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col"> Descripción </th>
                    <th scope="col"> Fecha </th>
                    <th scope="col"> Cantidad </th>
                    <th scope="col"> Total </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"> 1 </th>
                    <td> repuestos camioneta </td>
                    <td> 12/12/2021 </td>
                    <td> 2 </td>
                    <td> $18.000 </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row"> 2 </th>
                    <td> gasolina camioneta </td>
                    <td> 15/09/2021 </td>
                    <td> 1 </td>
                    <td> $89.000 </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->




    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, officiis animi. Maxime suscipit inventore vitae nisi, optio consectetur consequuntur eligendi cumque asperiores magnam pariatur! Consectetur, hic laboriosam! Id, consectetur eligendi.</p>
</div>
