* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-prin {
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 15px;
    padding-top: 10px;
}

.contenedor-dos {
    margin-top: -10px;
    margin-bottom: 10px;
}

.btn-gasto {
    width: 150px;
    height: 35px;
    margin-left: 15px;
    font-size: 13px;
    text-transform: uppercase;
}

.icono-btn {
    font-size: 12px;
    margin-right: 6px;
}

.table-header input {
    height: 35px;
    width: 200px;
    display: flex;
}

::placeholder {
    color: rgb(163, 159, 159);
}


/* estilos dialogo agregar  */

.form-row label {
    margin-bottom: 5px;
    margin-top: 10px;
}

.titulo-h3 {
    width: 100%;
    height: 40px;
    margin-bottom: -20px;
}

.titulo-h3 i {
    margin-right: 6px;
}

.identificador-detalle {
    width: 30px;
}

p-button {
    margin-bottom: 10px;
}

p-toast {
    z-index: 1;
}


/* fin estilos dialogo agregar  */


/* estilos tabla */

.card {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.icono-table {
    width: 30px;
    height: 30px;
    margin-right: 16px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    border-radius: 3px;
}

.identificador {
    width: 70px;
}

.td-iconos {
    align-items: left;
    justify-content: space-between;
    cursor: pointer;
}


/* estilos buscador */

.abc {
    margin-right: 15px;
}

.div-boton {
    margin-left: 5px;
}

.imput-buscar {
    height: 35px;
    padding-left: 10px;
}

.boton-buscar {
    width: 70px;
    height: 35px;
}

::placeholder {
    padding-left: 5px;
    color: rgb(163, 159, 159);
}


/* fin estilos tabla */

@media screen and (max-width: 800px) and (min-width:180px) {
    .div-boton {
        margin-left: 15px;
    }
    p-table {
        width: 100%;
        font-size: .9em;
    }
    p-table tr {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 1em;
        margin-bottom: 1em;
    }
    p-table td[data-titulo] {
        display: flex;
    }
    p-table td[data-titulo]::before {
        content: attr( data-titulo);
        width: 100px;
        color: silver;
        font-weight: bold;
    }
    p-table .header {
        display: none;
    }
}

@media screen and (max-width: 400px) and (min-width:180px) {
    p-table {
        width: 100%;
        font-size: .9em;
    }
    p-table tr {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 1em;
        margin-bottom: 1em;
    }
    p-table td[data-titulo] {
        display: flex;
        font-size: .8em;
    }
    p-table td[data-titulo]::before {
        content: attr( data-titulo);
        width: 100px;
        color: silver;
        font-size: .7em;
        font-weight: bold;
    }
    p-table .header {
        display: none;
    }
    p-toast {
        display: none;
    }
}

@media screen and (max-width: 270px) and (min-width:180px) {
    .table-header input {
        width: 170px;
    }
    .table-header {
        margin-left: -15px;
    }
}