<div class="contenedor">

    <div>
        <h2 class="titulo-prin">
            <span>Lista de créditos</span>
        </h2>
    </div>
    <div class="table-service">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col"> Cliente </th>
                    <th scope="col"> Descripción </th>
                    <th scope="col"> Fecha </th>
                    <th scope="col"> Total </th>
                    <th scope="col"> Abono </th>
                    <th scope="col"> Deuda </th>
                    <th scope="col"> Estado </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"> 1 </th>
                    <td> Jose Rendon </td>
                    <td> recarga de extintor </td>
                    <td> 12/12/2021 </td>
                    <td> $30.000 </td>
                    <td> $18.000 </td>
                    <td> $12.000 </td>
                    <td> pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row"> 2 </th>
                    <td> Jose Rendon </td>
                    <td> recarga de extintor </td>
                    <td> 12/12/2021 </td>
                    <td> $30.000 </td>
                    <td> $18.000 </td>
                    <td> $12.000 </td>
                    <td> pendiente </td>
                    <td>
                        <i class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
