<div class="contenedor">

    <div>
        <h2 class="titulo-prin">
            Lista de créditos
        </h2>
    </div>
    <div class="contenedor2">
      <div class="col-md-12">
          <div class="btn">
              <button (click)="showPositionDialog(creditoModel)" type="button" class="btn btn-primary btn-servicio">
               <i class="pi pi-dollar icono-btn"></i>Agregar precio</button>
          </div>
          <app-dialog-service #agregarDialogServicio (verCredito)="addItem($event)"></app-dialog-service>
      </div>
  </div>
  <div class="row divBuscador">
    <div class="col-md-4 ml-3 mb-2 abc">
        <input type="search" placeholder="Ingresar descripción" id="buscador" name="buscador" class="form-control imput-buscar" [value]="buscarDescripcion" (input)="buscarDescripcion = $event.target.value">
    </div>
    <div class="col-md-1 div-boton">
        <button class="btn btn-primary boton-buscar" (click)="buscarServicio()">Buscar</button>
    </div>
</div>

    <div class="card">
        <p-table [(value)]="creditos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Item {first} al {last} de {totalRecords} Items" [rowsPerPageOptions]="[5,8,10,25,50]">
            <ng-template pTemplate="header">
                <tr class="header">
                    <th> # </th>
                    <th> Cliente </th>
                    <th> Descripción </th>
                    <th> Fecha </th>
                    <th> Total </th>
                    <th> Abono </th>
                    <th> Deuda </th>
                    <th> Estado </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-creditos>
                <tr>
                    <td data-titulo="#"> {{ creditos?.idCreditos }} </td>
                    <td data-titulo="Cliente"> {{ creditos?.servicio?.idClientes }} </td>
                    <td data-titulo="Descripción"> {{ creditos?.idCreditos }} </td>
                    <td data-titulo="Fecha"> {{ creditos?.fecha | date }} </td>
                    <td data-titulo="Total"> {{ creditos?.servicio?.valor |currency }}  </td>
                    <td data-titulo="Abono"> {{ creditos?.abono |currency}} </td>
                    <td data-titulo="Adeuda"> {{ creditos?.deuda |currency}} </td>
                    <td data-titulo="Estado"> {{ creditos?.servicio?.estado}} </td>
                    <td>
                        <i (click)="showPositionDialog('center')" class="pi pi-list btn-outline-primary icono-table"></i>
                        <i class="pi pi-trash btn-outline-danger icono-table"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


</div>
